<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="DBFileName" value="rom"/>
		<add key="DBMemCacheSize" value="8000000"/>
		<add key="DBCheckOnStartup" value="false"/>
		<add key="vDriveLetter" value="V" />
		<add key="ScanInMemorySize" value="1000000" />
		<add key="FixOutDir" value="Reports" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
</configuration>
